*,
*::after,
*::before{
    box-sizing: border-box;
}



body{
    background-color: #ccc
}

.wrapper{
    margin: 50px auto;
    width: 960px;
    background-color: #ffff
}
.box{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 5px solid blue;
}
.box1{
    border-radius: 15px 0 15px 0;
    background-color: red
}
.box2{
    border-radius:50%;
    background-color: yellow
}
.box3{
    border-radius: 0 15px 0 15px;
    background-color: green
}
